@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);

body {
  background-color: aliceblue;
  font-family: 'Jeju Hallasan', cursive;
}
header {
  background-color: cadetblue;
}

nav {
  background-color: chartreuse;
  right: 50px;
}

section {
  background-color: cornflowerblue;
}

footer {
  background-color: darkkhaki;
}

h1 {
  color: brown;
  text-align: center;
}

h2 {
  color: blue;
  text-shadow: 3px 3px lightblue; 
}
ul {
  border: 1px dotted;
  text-decoration: none;
}

p {
  font-size: 1em; margin: 1em;
}

footer {
  background-color: lightgoldenrodyellow;
  width: 300px;
  padding: 20px;
  border-radius: 30%;
}